pollinterval = 1
maxretry = 3

[{{ ups_name }}]
    driver = usbhid-ups
    port = auto
    vendorid = {{ ups_vendorid }}
    productid = {{ ups_productid }}
    desc = "{{ ups_desc }}"
    serial = {{ ups_serial }}
